[submodule "FrontEnd"]
	path = FrontEnd
	url = git@github.com:cerebellumking/BusinessIntelligence-FrontEnd.git
[submodule "BackEnd"]
	path = BackEnd
	url = git@github.com:cerebellumking/BusinessIntelligence-BackEnd.git
